# List of countries by suicide rate (1990 - 2016)

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns

In [4]:
df_raw=pd.read_csv("C:/Users/Lavoro/Desktop/Data/List of countries by suicide rate.csv")
df=df_raw.copy()
df.head()

,WHO region,Crude rate,Age-standardized rate,Crude male rate,Crude female rate,Male–female ratio
0,Europe,15.4,12.85,24.7,6.6,3.74
1,Southeast Asia,13.2,13.40,14.8,11.6,1.28
2,Global,10.6,10.53,13.5,7.7,1.75
3,Western Pacific,10.2,8.45,10.9,9.4,1.16
4,Americas,9.8,9.25,15.1,4.6,3.28

In [5]:
df.at[6,'WHO region']='Eastern Mediterranean'

In [6]:
df

,WHO region,Crude rate,Age-standardized rate,Crude male rate,Crude female rate,Male–female ratio
0,Europe,15.4,12.85,24.7,6.6,3.74
1,Southeast Asia,13.2,13.40,14.8,11.6,1.28
2,Global,10.6,10.53,13.5,7.7,1.75
3,Western Pacific,10.2,8.45,10.9,9.4,1.16
4,Americas,9.8,9.25,15.1,4.6,3.28
5,Africa,7.4,11.96,9.9,4.8,2.06
6,Eastern Mediterranean,3.9,4.30,5.1,2.7,1.89