In [2]:
import pandas as pd
import numpy as np

import seaborn as sns

In [6]:
df_raw=pd.read_excel("C:/Users/Lavoro/Desktop/WHS Annex.xlsx")
df=df_raw.copy()
df

,Country,Total Population (Male) (2020),Total Population (Female) (2020),Total Population (Both) (2020),Life expectancy at birth Male (years) (2019),Life expectancy at birth Female (years) (2019),Life expectancy at birth Both (years) (2019),"Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%) (2019)",Suicide mortality ratek (100.000) (2019),Total alcohol per capita (≥ 15 years of age)(2019),Road traffic mortality ratek (100.000)(2019),Mortality rate air pollutionq (100 000) (2016),Mortality rate attributed to exposure to unsafe WASH (100 000)(2016),Mortality rate poisoning (100 000)(2019),Mortality rate homicide (100 000)(2019)
0,Afghanistan,19976,18952,38928.0,63.3,63.2,63.2,35.3,4.1,<0.1,15.9,211.1,13.9,1,8.5
1,Albania,1465,1413,2878.0,76.3,79.9,78,11.4,4.3,6.8,11.7,68,0.2,0.3,3.6
2,Algeria,22154,21697,43851.0,76.2,78.1,77.1,13.9,2.5,0.6,20.9,49.7,1.9,0.7,1.7
3,Andorra,-,-,77.0,-,-,-,-,-,12.3,-,-,-,-,-
4,Angola,16261,16605,32866.0,60.7,65.5,63.1,22.2,6.1,7.8,26.1,118.5,48.8,2,9.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,European Region,452591,480297,932888.0,75.1,81.3,78.2,16.3,12.8,9.5,7.4,36.3,0.3,1.1,2.9
200,Eastern Mediterranean Region,374719,351002,725721.0,68.3,71.3,69.7,24.5,5.8,0.5,17.8,125,10.6,1.1,5.3
201,Western Pacific Region,987323,952556,1939879.0,74.8,80.8,77.7,15.6,8.7,6.5,16.4,102.8,1,1.4,1.6
202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Global,3911812,3846346,7758157.0,70.8,75.9,73.3,17.8,9.2,5.8,16.7,114.1,11.7,1.1,6.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 15 columns):
 #   Column                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                   --------------  -----
 0   Country                                                                                                  202 non-null    object
 1   Total Population (Male) (2020)                                                                           202 non-null    object
 2   Total Population (Female) (2020)                                                                         201 non-null    object
 3   Total Population (Both) (2020)                                                                           201 non-null    float64
 4   Life expectancy at birth Male (years) (2019)                                                             202 non-null    object
 5   Life expectancy at birth Female (years) (2019)                                                           201 non-null    object
 6   Life expectancy at birth Both (years) (2019)                                                             201 non-null    object
 7   Probability of dying from any of CVD, cancer, diabetes, CRD between age 30 and exact age 70k (%) (2019)  202 non-null    object
 8   Suicide mortality ratek (100.000) (2019)                                                                 202 non-null    object
 9   Total alcohol per capita (≥ 15 years of age)(2019)                                                       202 non-null    object
 10  Road traffic mortality ratek (100.000)(2019)                                                             202 non-null    object
 11  Mortality rate air pollutionq  (100 000) (2016)                                                          202 non-null    object
 12  Mortality rate attributed to exposure to unsafe WASH (100 000)(2016)                                     202 non-null    object
 13  Mortality rate poisoning (100 000)(2019)                                                                 202 non-null    object
 14  Mortality rate homicide (100 000)(2019)                                                                  202 non-null    object
dtypes: float64(1), object(14)
memory usage: 24.0+ KB